body {
  background: #b2b2b2;
}

h1 {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    font-family: "Gugi", cursive;
    font-size: 6vw;
    font-weight: 700;
}


h1:after {
    margin: 0 auto;
    width: 140px;
    content:' ';
    display:block;
    border:2px solid #3e3e3e;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}


nav {
  line-height: 28px;
}

.nav-link {
  font-size: 20px;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin-right: 20px; /* add some margin on the right */
  transition: background-color 0.3s ease-in-out;
  animation: pulse 0.5s ease-in-out;
}

.nav-link:hover {
  color: #292d33;
  text-shadow: 1px 1px #292d33;
  animation: none;
  
}

.navbar-brand {
  font-size: 30px;
  font-weight: 700;
}

.nav-item {
  padding: 0 10px; /* add some padding on the left and right */
}

.rounded-circle {
  display: hidden;
  border-radius: 50%;
  border: 4px solid #333; 
  width: 20%;
  display: block; 
  margin: 0 auto; 
}

.welcome {
  text-align: center;
  font-family: "Gugi", cursive;
  font-size: 4vw;
  font-weight: 700;
  color: #whitesmoke;
}

.fullscreen {
  height: 100vh;
  width: 100%;
  top: 0;
}

.content {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 2vw;
  font-weight: 500;
}

#about {
  background: #897c7c3d;
}

#projects {
  background: #aaa9a6;
}

#contacts {
  background: #897c7c;
}

footer a {
  color: #5d5c5b;
  text-align: center;
  display: inline-block; 
  margin: 0 auto; 
  
}

.contacts {
  text-align: center;
  font-family: "Gugi", cursive;
  font-size: 2vw;
  font-weight: 300;
  color: #3e3e3e;
}

.contactIcon {
  text-align: center;
}

.socialLink{
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  width: 7%;
  display: inline-block;
  padding: 5px;
  color: #ffffff;
}

.mailContact {
  background: #767674;
  margin-left: 15%;
  margin-right: 15%;
}

.navbar-toggler-icon {
  color: #535c66;
}

.zoom-img img {
    transition: all 0.5s ease;
}

.zoom-img img:hover {
    transform: scale(1.5);
}

.proj-contain {
    margin: 5px;
    border-radius: 6px;
    border-style: solid;
    border-color: whitesmoke;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.proj-screenshot {
    width: 150%;
}

.project-title {
    background-color: #273344;
    z-index: 3;
    opacity: .8;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 0 0 30px;
    width: 100%;
    height: 40%;
    color: whitesmoke;
}

video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.text-over-video{
    position: relative;
    z-index: 1;
    color:white;
}
